@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
}

.heading {
    text-align: center;
    font-size: 2rem;
    font-family: "Sedan SC", serif;
    color: rgb(175, 33, 57);
}



.main {
    width: 600px; 
    height: 600px; 
    border: 1px solid black; 
    margin: 2rem auto;
}

.main > div {
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    margin: 0 auto;
}

#red {
    border: 1px solid red;
}

#green {
    border: 1px solid green;
}

#blue {
    border: 1px solid blue;
}

.footer {
    text-align: center;
}